body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f9fafb;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

.tablesort {
  width: 70%;
}

.tablesort,
td,
th {
  font-family: "Noto Sans", sans-serif;
  border: 1px solid #e9ecef;
  border-collapse: collapse;
  padding: 0.75rem;
  background-color: #ffffff;
}

tr:hover td {
  background-color: #f2f2f2;
}
th {
  text-align: left;
}
.state {
  font-weight: 600;
  color: #72777a;
}

.sortable {
  position: relative;
}

@media (min-width: 560px) {
  .sortable::before {
    background-image: url("sort.svg");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 10px;
    height: 15px;
    right: 5px;
    z-index: 1;
  }

  .descending::before {
    background-image: url("down.svg");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 10px;
    height: 15px;
    right: 5px;
    z-index: 1;
  }

  .ascending::before {
    background-image: url("up.svg");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 10px;
    height: 15px;
    right: 5px;
    z-index: 1;
  }
}

@media (max-width: 992px) {
  .tablesort {
    width: 98%;
  }
}

@media (max-width: 560px) {
  .tablesort {
    font-size: 12px;
  }
}
